#forum-form {
	@include border-radius(5px);
	background-color: darken($main-red, 10%);
	padding: 20px;
	padding-bottom: 30px;
	min-height: 550px;
	color: white;
	margin-bottom: 15px;
}

#forum-questions-container {
	min-height: 500px;
	padding: 20px;
	margin-bottom: 20px;

}

iframe {
	display: block !important;
}

textarea {
	max-width: 100%;
}

.forum-entry {
	@include border-radius(5px);
	background-color: lighten($main-red, 58%);
	padding: 15px;
	margin-bottom: 10px;
}


#post-status {
	padding: 10px;
}


.required:before{
    content:"* ";
	color:red;
	font-size: 24px;  
}